/* Write your CSS here */
* {
  font-family: 'Roboto';
}

.cryptocurreny-tracker-container {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
